<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SAMERP</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>AddCustomer</servlet-name>
    <servlet-class>admin.settings.AddCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomer</servlet-name>
    <url-pattern>/AddCustomer.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <servlet-name>AddSupplyMaterial</servlet-name>
    <servlet-class>admin.settings.addsupplymaterial</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSupplyMaterial</servlet-name>
    <url-pattern>/addSupplyMaterial</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddVehicles</servlet-name>
    <servlet-class>admin.settings.AddVehicles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVehicles</servlet-name>
    <url-pattern>/AddVehicles</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <servlet-name>AddAccountDetails</servlet-name>
    <servlet-class>admin.settings.AddAccountDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAccountDetails</servlet-name>
    <url-pattern>/AddAccountDetails</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <servlet-name>Expenses</servlet-name>
    <servlet-class>admin.expenses.Expenses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Expenses</servlet-name>
    <url-pattern>/Expenses.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddEmployee</servlet-name>
    <servlet-class>admin.settings.AddEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployee</servlet-name>
    <url-pattern>/AddEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddOrganization</servlet-name>
    <servlet-class>admin.settings.AddOrganization</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrganization</servlet-name>
    <url-pattern>/AddOrganization</url-pattern>
  </servlet-mapping>
</web-app>